In [1]:
# Imports - avoid importing multiple copies
import pandas as pd
import sqlite3
from decimal import Decimal
import locale

In [8]:
# Convert int to hex
df = pd.read_csv('https://raw.githubusercontent.com/BriDeWaltCCC/PFDADataSets/main/color_data.csv')
df.drop(columns=['id'], inplace=True)

for item in df.index:
    df.loc[item, "hex"] = (format(df.loc[item,"r"], "X") + format(df.loc[item,"g"], "X") + format(df.loc[item,"b"], "X")).zfill(6)
print(df)

      r    g    b     hex
0    51   20  202  3314CA
1   236   69  237  EC45ED
2    33  186   52  21BA34
3   216   79  203  D84FCB
4    17   82  208  1152D0
5   133  189   15  085BDF
6    18  226  115  12E273
7   148   31   24  941F18
8     6   78  184  064EB8
9    68   51  202  4433CA
10  110  175  175  6EAFAF
11  202  130  175  CA82AF
12    8  115   69  087345
13  110   67  205  6E43CD
14  245  191   67  F5BF43
15  143  232   31  8FE81F
16  152  207   45  98CF2D
17  198   46   72  C62E48
18  126  218   95  7EDA5F
19  251  252  176  FBFCB0
20   49   77  180  314DB4
21  132   98   23  846217
22  129  244  139  81F48B
23   78  231  244  4EE7F4
24   14  231   19  0EE713

In [15]:
print("dec\thex")
for i in range(256):
    print(f"{i}\t{format(i, 'X').zfill(2)}")

dec	hex
0	00
1	01
2	02
3	03
4	04
5	05
6	06
7	07
8	08
9	09
10	0A
11	0B
12	0C
13	0D
14	0E
15	0F
16	10
17	11
18	12
19	13
20	14
21	15
22	16
23	17
24	18
25	19
26	1A
27	1B
28	1C
29	1D
30	1E
31	1F
32	20
33	21
34	22
35	23
36	24
37	25
38	26
39	27
40	28
41	29
42	2A
43	2B
44	2C
45	2D
46	2E
47	2F
48	30
49	31
50	32
51	33
52	34
53	35
54	36
55	37
56	38
57	39
58	3A
59	3B
60	3C
61	3D
62	3E
63	3F
64	40
65	41
66	42
67	43
68	44
69	45
70	46
71	47
72	48
73	49
74	4A
75	4B
76	4C
77	4D
78	4E
79	4F
80	50
81	51
82	52
83	53
84	54
85	55
86	56
87	57
88	58
89	59
90	5A
91	5B
92	5C
93	5D
94	5E
95	5F
96	60
97	61
98	62
99	63
100	64
101	65
102	66
103	67
104	68
105	69
106	6A
107	6B
108	6C
109	6D
110	6E
111	6F
112	70
113	71
114	72
115	73
116	74
117	75
118	76
119	77
120	78
121	79
122	7A
123	7B
124	7C
125	7D
126	7E
127	7F
128	80
129	81
130	82
131	83
132	84
133	85
134	86
135	87
136	88
137	89
138	8A
139	8B
140	8C
141	8D
142	8E
143	8F
144	90
145	91
146	92
147	93
148	94
149	95
150	96
151	97
152	98
153	99
154	9A
155	9B
156	9C
157	9D
158	9E
159	9F
160	A0
161	A1
162	A2
163	A3
164	A4
165	A5
166	A6
167	A7
168	A8
169	A9
170	AA
171	AB
172	AC
173	AD
174	AE
175	AF
176	B0
177	B1
178	B2
179	B3
180	B4
181	B5
182	B6
183	B7
184	B8
185	B9
186	BA
187	BB
188	BC
189	BD
190	BE
191	BF
192	C0
193	C1
194	C2
195	C3
196	C4
197	C5
198	C6
199	C7
200	C8
201	C9
202	CA
203	CB
204	CC
205	CD
206	CE
207	CF
208	D0
209	D1
210	D2
211	D3
212	D4
213	D5
214	D6
215	D7
216	D8
217	D9
218	DA
219	DB
220	DC
221	DD
222	DE
223	DF
224	E0
225	E1
226	E2
227	E3
228	E4
229	E5
230	E6
231	E7
232	E8
233	E9
234	EA
235	EB
236	EC
237	ED
238	EE
239	EF
240	F0
241	F1
242	F2
243	F3
244	F4
245	F5
246	F6
247	F7
248	F8
249	F9
250	FA
251	FB
252	FC
253	FD
254	FE
255	FF

In [22]:
testdate = "11/19/2023"
print(testdate)

11/19/2023

## Following cell is the one we need to submit

In [45]:
import locale
locale.setlocale(locale.LC_ALL, "en_US.UTF-8")

dfDates = pd.read_csv("https://raw.githubusercontent.com/BriDeWaltCCC/PFDADataSets/main/MockDataForFilteringandFixing.csv", dtype_backend="pyarrow")
dfDates["Date"] = dfDates["Date"].astype("date32[pyarrow]")
dfDates["DateEuroFormat"] = ""
dfDates["CostFloat"] = 0.0
print(dfDates.dtypes)

for i in dfDates.index:
    dfDates.loc[i, "DateEuroFormat"] = f"{dfDates.loc[i, "Date"]:%d/%m/%Y}"
    dfDates.loc[i, "CostFloat"] = locale.atof(dfDates.loc[i, "Cost"].strip(locale.localeconv()["currency_symbol"]))

display(dfDates)

Cases                   int64[pyarrow]
Country                string[pyarrow]
City                   string[pyarrow]
Date              date32[day][pyarrow]
Cost                   string[pyarrow]
DateEuroFormat                  object
CostFloat                      float64
dtype: object

,Cases,Country,City,Date,Cost,DateEuroFormat,CostFloat
0,3461,Ireland,Levanger,2023-11-19,"$37,363.43",19/11/2023,37363.43
1,3314,Spain,Logro√±o,2022-04-15,"$24,284.03",15/04/2022,24284.03
2,3191,South Africa,Dublin,2022-07-13,"$62,998.77",13/07/2022,62998.77
3,3427,United States,Tejar,2023-12-01,"$3,421.29",01/12/2023,3421.29
4,2655,Sweden,Mexico City,2023-08-08,"$20,933.44",08/08/2023,20933.44
...,...,...,...,...,...,...,...
497,3079,Turkey,Cork,2023-04-08,"$42,290.97",08/04/2023,42290.97
498,2994,France,Schoonaarde,2023-09-30,"$52,017.66",30/09/2023,52017.66
499,3164,Indonesia,Qu·∫£ng Ng√£i,2023-08-19,"$79,501.28",19/08/2023,79501.28
500,2724,Colombia,Stj√∏rdalshalsen,2022-09-10,"$67,195.95",10/09/2022,67195.95
501,3142,New Zealand,Calapan,2022-12-26,"$45,343.30",26/12/2022,45343.30

In [ ]:
# Pat Lacey's version from class

# import the datetime module for the date formatting
from datetime import datetime

# read the data into a dataframe
url = 'https://raw.githubusercontent.com/BriDeWaltCCC/PFDADataSets/main/MockDataForFilteringandFixing.csv'
df = pd.read_csv(url)
print(df)

# start with one date string - first index
date = df.loc[0,'Date']
print(date)

# convert the string into a datetime date object
date_object = datetime.strptime(date, "%m/%d/%Y")

# convert the date object into a string with the correct format
new_date = date_object.strftime("%d/%m/%Y")
print(new_date)

# then we can do it with the whole column

# create a for loop based on the shape of the dataframe
for i in range(0, df.shape[0]):
    # the same processing code for the single string example
    date = df.loc[i,'Date']
    date_object = datetime.strptime(date, "%m/%d/%Y")
    new_date = date_object.strftime("%d/%m/%Y")
    # overwrite the data in the dataframe
    df.at[i, 'Date'] = new_date
print(df)

# there is another way to do this without a for loop
# the apply function uses a lambda x to reformat the date for every index
# more condensed code but same logic
# with this method, I changed the date format back to the initial format to show both methods working

df["Date"] = df["Date"].apply(
    lambda x: 
        datetime.strptime(x, "%d/%m/%Y").strftime("%m/%d/%Y")
)
df